<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dasom2.mapper.AdminMapper">
	
	
	<select id="checkAdmin">
		SELECT COUNT(*) FROM USER_MANAGE WHERE USER_ID =#{userId}
		AND ADMIN_FLAG ='Y'
	</select>
	
	<select id="getUserInfoAdmin">
        SELECT A.USER_ID AS userId, A.USER_NAME AS userName, A.SEX AS sex, A.HEIGHT AS height, DATE_FORMAT(A.BIRTHDAY, '%y년') AS birthday, A.JOB_DIVISION AS jobDivision, B.PASS_FLAG AS passFlag, A.RESIDENCE AS residence, B.CHANCE AS chance, A.PHONE_NUMBER AS phoneNumber
        FROM USER_TABLE A
        INNER JOIN
        USER_MANAGE B
        ON A.USER_ID = B.USER_ID
        ORDER BY USER_NAME ASC
    </select>
	
    <select id="getScheduleInfoAdmin">
        SELECT DATE_FORMAT(A.EPISODE, '%y년 %m월 %d일 %p %h시') AS episode, B.USER_ID AS userId, A.LOCATION AS location , C.USER_NAME AS userName, C.SEX AS sex, DATE_FORMAT(C.BIRTHDAY, '%y년') AS birthday, C.JOB_DIVISION AS jobDivision
		FROM MEETING_SCHEDULE A
		LEFT OUTER JOIN
		(SELECT * FROM PARTICIPANT_USER) B
		ON A.EPISODE = B.EPISODE
		LEFT OUTER JOIN
		(SELECT * FROM USER_TABLE) C
		ON B.USER_ID = C.USER_ID
		ORDER BY A.EPISODE DESC , C.SEX ASC, C.USER_NAME ASC
    </select>
    
    <select id="getMatchingInfoAdmin">
    	SELECT A.USER_ID userId, B.PICK pick, B.USER_ID pickedUserId, DATE_FORMAT(A.EPISODE, '%y년 %m월 %d일 %p %h시') AS episode, DATE_FORMAT(B.CREATETIME, '%y년 %m월 %d일 %p %h시') createtime
		FROM PARTICIPANT_USER A
		LEFT OUTER JOIN
		MATCHING B
		ON A.USER_ID = B.USER_ID
		AND A.EPISODE = B.EPISODE
        ORDER BY A.EPISODE DESC
    </select>
     
    <select id="getLogAdmin">
    	SELECT A.USER_ID userId, B.USER_NAME userName, B.SEX sex, B.PHONE_NUMBER phoneNumber, A.TARGET target, A.LOG_TYPE logType, A.CREATETIME createTime
		FROM
		LOG_HISTORY A
		LEFT OUTER JOIN
		USER_TABLE B
		ON A.USER_ID = B.USER_ID
		ORDER BY CREATETIME DESC
    </select>
    
    <select id="getErrorLogAdmin">
    	SELECT  METHOD_NAME methodName, A.USER_ID userId, B.USER_NAME userName, ERROR_MESSAGE errorMessage, A.CREATETIME createTime
		FROM ERROR_LOG A
		INNER JOIN USER_TABLE B
		ON A.USER_ID = B.USER_ID
		ORDER BY CREATETIME DESC
    </select>
    
    <select id="getScheduleAdmin">
    	select EPISODE episode ,COMPLETE_FLAG completeFlag, HEADCOUNT headCount, LOCATION location
    	FROM MEETING_SCHEDULE
    	ORDER BY EPISODE DESC
    </select>
    
    <update id="increaseChance">
    	UPDATE USER_MANAGE A SET A.CHANCE = A.CHANCE + 1 WHERE USER_ID = #{userId}
    </update>
    
    <update id="decreaseChance">
    	UPDATE USER_MANAGE A SET A.CHANCE = A.CHANCE - 1 WHERE USER_ID = #{userId}
    </update>
    
    <update id="increaseHeadCount">
    	UPDATE MEETING_SCHEDULE A SET A.HEADCOUNT = A.HEADCOUNT + 1 WHERE EPISODE = #{episode}
    </update>
    
    <update id="decreaseHeadCount">
    	UPDATE MEETING_SCHEDULE A SET A.HEADCOUNT = A.HEADCOUNT - 1 WHERE EPISODE = #{episode}
    </update>
    
	<update id="changePassFlag">
	    UPDATE USER_MANAGE
	    <set>
	        <if test='passFlag == "N"'>
	            PASS_FLAG = 'Y'
	        </if>
	        <if test='passFlag == "Y"'>
	            PASS_FLAG = 'N'
	        </if>
	    </set>
	    WHERE USER_ID = #{userId}
	</update>
    
    <delete id="deleteSchedule">
		DELETE FROM MEETING_SCHEDULE WHERE EPISODE = REPLACE(#{episode}, 'T', ' ')
    </delete>
    
    <delete id="deleteAllParticipantByEpisode">
    	DELETE FROM PARTICIPANT_USER WHERE EPISODE = REPLACE(#{episode}, 'T', ' ')
    </delete>
    
    <insert id ="addSchedule">
    	INSERT INTO MEETING_SCHEDULE(EPISODE, HEADCOUNT, LOCATION) VALUES(REPLACE(#{episode}, 'T', ' '), #{headCount}, #{location})
    </insert>
    
</mapper>
