<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dasom2.mapper.CommonMapper">

    <select id="getCriteriaData" resultType="map" parameterType="String">
        SELECT value1 FROM criteria_data WHERE division = #{criteria}
    </select>
    
    <insert id="insertErrorLog" parameterType="String">
        INSERT INTO error_log(user_id, method_name, error_message) VALUES(#{userId}, #{methodName}, SUBSTRING(#{errorMessage}, 1, 499))
    </insert>
    
    <insert id = "logAdminHistory">
    	INSERT INTO LOG_HISTORY(user_id, target, log_type, admin_division) VALUES(#{adminId}, #{target}, #{type}, 'admin')
    </insert>
    
    <insert id = "logUserHistory">
    	INSERT INTO LOG_HISTORY(user_id, target, log_type, admin_division) VALUES(#{userId}, #{target}, #{type}, 'user')
    </insert>
    
    <select id = "getUserListByEpisode">
    	SELECT USER_ID AS userId FROM PARTICIPANT_USER WHERE EPISODE = #{episode}
    </select>
</mapper>