<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dasom2.mapper.CommonMapper">

    <select id="getCriteriaData" resultType="map" parameterType="String">
        SELECT VALUE1 value1 FROM CRITERIA_DATA WHERE DIVISION = #{criteria}
    </select>
    
    <insert id="insertErrorLog" parameterType="String">
        INSERT INTO ERROR_LOG(USER_ID, METHOD_NAME, ERROR_MESSAGE) VALUES(#{userId}, #{methodName}, SUBSTRING(#{errorMessage}, 1, 499))
    </insert>
    
    <insert id = "logAdminHistory">
    	INSERT INTO LOG_HISTORY(USER_ID, TARGET, LOG_TYPE, ADMIN_DIVISION) VALUES(#{adminId}, #{target}, #{type}, 'admin')
    </insert>
    
    <insert id = "logUserHistory">
    	INSERT INTO LOG_HISTORY(USER_ID, TARGET, LOG_TYPE, ADMIN_DIVISION) VALUES(#{userId}, #{target}, #{type}, 'user')
    </insert>
    
    <select id = "getUserListByEpisode">
    	SELECT USER_ID AS userId FROM PARTICIPANT_USER WHERE EPISODE = #{episode}
    </select>
    
    <select id = "getClosestEpisodeByUser">
    	SELECT EPISODE
		FROM PARTICIPANT_USER
        WHERE USER_ID = #{userId}
		ORDER BY ABS(TIMESTAMPDIFF(MINUTE, EPISODE, NOW()))
		LIMIT 1
    </select>
</mapper>