<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dasom2.mapper.MainMapper">
	
	<select id="getCheckAdmin">
        SELECT ADMIN_FLAG FROM USER_MANAGE WHERE USER_ID = #{userId}
    </select>
	
	<select id="getTicket">
		SELECT CHANCE AS chance FROM USER_MANAGE
        WHERE USER_ID =#{userId}
	</select>
	
	<select id="getEpisodeByUser" resultType="String" parameterType="String">
        SELECT EPISODE FROM MEETING_SCHEDULE
    </select>
	
    <select id="getMeetingSchedule" resultType="MeetingScheduleVO" parameterType="String">
        SELECT A.EPISODE AS LocalDateTimeEpisode, B.USER_ID AS userId, A.LOCATION AS location FROM MEETING_SCHEDULE A
        LEFT OUTER JOIN
        (SELECT * FROM PARTICIPANT_USER WHERE USER_ID = #{userId}) B
        ON A.EPISODE = B.EPISODE
        WHERE A.COMPLETE_FLAG = 'N'
        <!-- 현재 시간보다 4시간 넘게 남은 소개팅 날짜만 가져옴 -->
        AND A.EPISODE > DATE_ADD(NOW(), INTERVAL 4 HOUR)
        ORDER BY A.EPISODE ASC
    </select>
    
    <select id ="getParticipantList">
    	SELECT A.SEX AS sex, B.JOB_DIVISION AS jobDivision, A.EPISODE AS episode, YEAR(CURDATE()) - YEAR(B.BIRTHDAY) AS year, C.LOCATION location
    	FROM PARTICIPANT_USER A
		INNER JOIN
		USER_TABLE B
		ON A.USER_ID = B.USER_ID
        INNER JOIN MEETING_SCHEDULE C
        ON A.EPISODE = C.EPISODE
		WHERE A.EPISODE IN
		(
			SELECT EPISODE FROM MEETING_SCHEDULE 
			WHERE 1=1
			AND EPISODE > NOW()
		)
		ORDER BY A.CREATETIME ASC
    </select>
    
    <select id="getMatchingInfo" resultType="matchPersonVO" parameterType="String">
    	SELECT A.USER_ID AS pickedUserId, NICKNAME nickName, B.PICK pick, A.EPISODE AS localDateTimeEpisode
		FROM PARTICIPANT_USER A
        
        LEFT OUTER JOIN 
        
        (SELECT * FROM MATCHING A WHERE A.USER_ID = #{userId}) B
        ON A.NICKNAME = B.PICK
        AND A.EPISODE = B.EPISODE

		WHERE SEX <![CDATA[<>]]>
			(
				SELECT SEX
				FROM USER_TABLE
				WHERE USER_ID = #{userId}
			)
		AND A.EPISODE = (SELECT AA.EPISODE FROM
							(
								SELECT EPISODE, ROW_NUMBER() OVER () AS ROWNUM 
						        FROM PARTICIPANT_USER
						        WHERE USER_ID = #{userId}
						        <!-- 소개팅 시작 1 시간 이후부터 5시간 이후 까지 조회 가능 -->
						        AND EPISODE BETWEEN DATE_ADD(NOW(), INTERVAL -5 HOUR) AND DATE_ADD(NOW(), INTERVAL -1 HOUR)
								ORDER BY EPISODE DESC
							)AA
							WHERE AA.ROWNUM =1
						)
    </select>
    
    <select id = "getMatchingResultInfo">
    
    	SELECT AA.PICK AS nickName, CC.PHONE_NUMBER AS phoneNumber
		FROM
		(
			SELECT USER_ID, PICK, PICKED_USER FROM MATCHING WHERE USER_ID =#{userId}
			AND EPISODE IN
			<!-- 소개팅 시작 2시간 이후 부터 14시간 보임 -->
			<!-- (SELECT EPISODE FROM PARTICIPANT_USER WHERE USER_ID =#{userId} AND EPISODE BETWEEN DATE_SUB(NOW(), INTERVAL 24 hour) AND NOW()) -->
			(SELECT EPISODE FROM PARTICIPANT_USER WHERE USER_ID =#{userId} AND EPISODE BETWEEN DATE_ADD(NOW(), INTERVAL -14 HOUR) AND DATE_ADD(NOW(), INTERVAL -2 HOUR))
		) AA
		INNER JOIN
			(
				SELECT USER_ID FROM MATCHING WHERE PICKED_USER =#{userId}
				AND EPISODE IN
				(SELECT EPISODE FROM PARTICIPANT_USER WHERE USER_ID =#{userId} AND EPISODE BETWEEN DATE_ADD(NOW(), INTERVAL -14 HOUR) AND DATE_ADD(NOW(), INTERVAL -2 HOUR))
			) BB
		ON AA.PICKED_USER = BB.USER_ID
		INNER JOIN
		(
			SELECT USER_ID, PHONE_NUMBER FROM USER_TABLE
		) CC
		ON AA.PICKED_USER = CC.USER_ID
    </select>
    
    <select id = "getMatchingResultInfo2">
    
    	SELECT A.NICKNAME nickName
        FROM PARTICIPANT_USER A
        INNER JOIN 
        USER_TABLE B
        ON A.USER_ID = B.USER_ID
        WHERE 
        A.USER_ID IN
        (SELECT USER_ID FROM MATCHING
        WHERE PICKED_USER = #{userId}
        AND EPISODE IN (SELECT EPISODE FROM PARTICIPANT_USER WHERE USER_ID =#{userId} AND EPISODE BETWEEN DATE_ADD(NOW(), INTERVAL -14 hour) AND DATE_ADD(NOW(), INTERVAL -2 hour))
        <!-- AND EPISODE =(SELECT EPISODE FROM PARTICIPANT_USER WHERE USER_ID =#{userId} AND EPISODE BETWEEN DATE_SUB(NOW(), INTERVAL 50 hour) AND NOW()) -->
        )
        AND EPISODE IN (SELECT EPISODE FROM PARTICIPANT_USER WHERE USER_ID =#{userId} AND EPISODE BETWEEN DATE_ADD(NOW(), INTERVAL -14 hour) AND DATE_ADD(NOW(), INTERVAL -2 hour))
        <!-- AND EPISODE = (SELECT EPISODE FROM PARTICIPANT_USER WHERE USER_ID =#{userId} AND EPISODE BETWEEN DATE_SUB(NOW(), INTERVAL 50 hour) AND NOW()) -->
    </select>
    
    <select id="checkHeadCount">
        SELECT EPISODE FROM MEETING_SCHEDULE
		WHERE EPISODE = #{episode}
		AND 
		HEADCOUNT/2 <![CDATA[>]]> (
		SELECT COUNT(*) FROM PARTICIPANT_USER A
		WHERE A.EPISODE = #{episode}
		AND A.SEX = (SELECT SEX FROM USER_TABLE WHERE USER_ID = #{userId})
		)
    </select>
    
    <select id="checkContinuity">
        SELECT USER_ID FROM PARTICIPANT_USER 
		WHERE USER_ID = #{userId}
		AND EPISODE BETWEEN DATE_ADD(#{LocalDateTimeEpisode}, INTERVAL -5 DAY) AND DATE_ADD(#{LocalDateTimeEpisode}, INTERVAL -1 HOUR)
		AND SEX = '남성'
    </select>
    
    <select id="checkDoublePerDay">
        SELECT USER_ID FROM PARTICIPANT_USER 
		WHERE USER_ID = #{userId}
		AND EPISODE BETWEEN DATE_ADD(#{LocalDateTimeEpisode}, INTERVAL -12 HOUR) AND DATE_ADD(#{LocalDateTimeEpisode}, INTERVAL -1 HOUR)
    </select>
    
    <select id="checkDuplication">
	    SELECT COUNT(*) FROM PARTICIPANT_USER
		WHERE EPISODE = #{LocalDateTimeEpisode}
		AND USER_ID IN (
		SELECT USER_ID FROM PARTICIPANT_USER 
		WHERE EPISODE IN 
		(SELECT EPISODE FROM PARTICIPANT_USER WHERE USER_ID = #{userId} AND EPISODE <![CDATA[<]]> #{LocalDateTimeEpisode})
		and USER_ID <![CDATA[<>]]> #{userId}
		)
    </select>
    
    <insert id="insertParticipantUser">
	    INSERT INTO PARTICIPANT_USER(USER_ID, EPISODE, SEX, NICKNAME) 
	    VALUES (
	        #{userId},
	        #{episode},
	        (SELECT SEX FROM USER_TABLE WHERE USER_ID = #{userId}),
	        (
	            SELECT VALUE1 
	            FROM (
	                SELECT VALUE1 
	                FROM CRITERIA_DATA
	                WHERE DIVISION = (
	                    SELECT CASE 
	                               WHEN SEX = '남성' THEN 'male_nickname'
	                               ELSE 'female_nickname'
	                           END
	                    FROM USER_TABLE 
	                    WHERE USER_ID = #{userId}
	                )
	                AND VALUE1 NOT IN (
	                    SELECT NICKNAME 
	                    FROM PARTICIPANT_USER 
	                    WHERE EPISODE = #{episode}
	                )
	                ORDER BY LENGTH(VALUE1), VALUE1
	                LIMIT 1
	            ) AS AA
	        )
	    )
	</insert>
    
    <delete id="deleteParticipantUser" >
        DELETE FROM PARTICIPANT_USER WHERE USER_ID = #{userId} AND EPISODE = #{episode}
        AND EPISODE > DATE_ADD(NOW(), INTERVAL 1 DAY)
    </delete>
    
    <select id="checkAbleDelete">
    	SELECT COUNT(*) FROM PARTICIPANT_USER WHERE USER_ID = #{userId} AND EPISODE = #{episode}
        AND EPISODE > DATE_ADD(NOW(), INTERVAL 1 DAY)
    </select>
    
    <select id="getPassFlagbyUser" resultType="String" parameterType="String">
    	SELECT PASS_FLAG FROM USER_MANAGE WHERE USER_ID = #{userId} AND PASS_FLAG = 'Y'
    </select>
    
    <select id = "checkUserInfoExist">
    	SELECT COUNT(*) FROM USER_TABLE WHERE USER_ID = #{userId} AND PHONE_NUMBER IS NULL
    </select>
    
    <select id = "checkChace">
    	SELECT CHANCE FROM USER_MANAGE WHERE USER_ID = #{userId}
    </select>
    
    <update id = "minusChance">
    	UPDATE USER_MANAGE SET CHANCE = CHANCE -1 WHERE USER_ID = #{userId}
    </update>
    
    <update id = "plusChance">
    	UPDATE USER_MANAGE SET CHANCE = CHANCE +1 WHERE USER_ID = #{userId}
    </update>
    
    <select id="checkMatchPickCount">
        SELECT COUNT(*) 
        FROM MATCHING
		WHERE USER_ID = #{userId}
		AND EPISODE = #{episode}
    </select>
    
    <insert id="insertPickUser">
    	INSERT INTO MATCHING(USER_ID, PICK, PICKED_USER, EPISODE, CREATETIME) VALUES(#{userId},#{nickName}, (SELECT USER_ID FROM PARTICIPANT_USER WHERE EPISODE = #{episode} AND NICKNAME = #{nickName}), #{episode}, SYSDATE())
    </insert>
    
    <delete id="deletePickUser">
    	DELETE FROM MATCHING WHERE USER_ID = #{userId} AND EPISODE = #{episode} AND PICK = #{nickName}
    </delete>
    
    <select id="getUserNameByUserId">
    	SELECT USER_NAME AS userName FROM USER_TABLE WHERE USER_ID = #{userId}
    </select>
    
</mapper>
