<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dasom2.mapper.MainMapper">

    <select id="getMeetingSchedule" resultType="MeetingScheduleVO" parameterType="String">
        SELECT DATE_FORMAT(A.EPISODE, '%y년 %m월 %d일') AS episode, B.USER_ID AS userId FROM MEETING_SCHEDULE A
        LEFT OUTER JOIN
        (SELECT * FROM PARTICIPANT_USER WHERE USER_ID = #{userId}) B
        ON A.EPISODE = B.EPISODE
        WHERE A.COMPLETE_FLAG = 'N'
        ORDER BY A.EPISODE ASC
    </select>
    
    <select id="checkHeadCount" resultType="String" parameterType="String">
         SELECT episode from MEETING_SCHEDULE
		WHERE EPISODE = DATE_FORMAT(STR_TO_DATE(#{episode}, '%y년 %m월 %d일'), '%Y-%m-%d 00:00:00')
		AND 
		HEADCOUNT &lt;= (
		SELECT COUNT(*) FROM PARTICIPANT_USER A
		WHERE A.EPISODE = DATE_FORMAT(STR_TO_DATE(#{episode}, '%y년 %m월 %d일'), '%Y-%m-%d 00:00:00')
		)
    </select>
    
    <insert id="insertScheduleSelection"  parameterType="String">
        SELECT DATE_FORMAT(A.EPISODE, '%y년 %m월 %d일') AS episode, B.USER_ID AS userId FROM MEETING_SCHEDULE A
        LEFT OUTER JOIN
        (SELECT * FROM PARTICIPANT_USER WHERE USER_ID = #{userId}) B
        ON A.EPISODE = B.EPISODE
        WHERE A.COMPLETE_FLAG = 'N'
        ORDER BY A.EPISODE ASC
    </insert>
    
</mapper>