<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dasom2.mapper.RegisterUserMapper">

    
    <select id="getResidenceData" resultType="String" parameterType="String">
        SELECT VALUE1 FROM CRITERIA_DATA WHERE DIVISION = #{division}
    </select>
    
    <update id="registerUserInfo" parameterType="RegisterUserVO">
        UPDATE USER_TABLE SET 
        USER_NAME = #{userName}, 
        PHONE_NUMBER = #{phoneNumber}, 
        SEX = #{sex}, 
        BIRTHDAY = STR_TO_DATE(CONCAT(#{birthday}, '-01-01'), '%Y-%m-%d'),
        HEIGHT = #{height},
        JOB_DIVISION = #{jobDivision},
        RESIDENCE = #{residence}
        WHERE USER_ID =#{userId}
    </update>
    
    <insert id="registerUserInfoHistory" parameterType="RegisterUserVO">
    	INSERT INTO USER_TABLE_REGISTER_HISTORY 
    	VALUES(
    	#{userId}, 
    	#{userName}, 
    	#{phoneNumber}, 
    	#{sex}, 
    	STR_TO_DATE(CONCAT(#{birthday}, '-01-01'),'%Y-%m-%d'), 
    	#{height},
    	#{jobDivision},
    	#{residence},
    	SYSDATE()
    	)
    </insert>
    
    <insert id ="insertUserManage">
    	INSERT INTO USER_MANAGE (USER_ID, CHANCE) VALUE(#{userId}, 0)
    </insert>
    
    <select id="getUserInfoForUpdate" resultType="RegisterUserVO">
    	SELECT A.USER_NAME AS userName, A.HEIGHT AS height, A.JOB_DIVISION AS jobDivision, A.PHONE_NUMBER AS phoneNumber, A.RESIDENCE AS residence 
    	FROM USER_TABLE A
    	WHERE A.USER_ID = #{userId}
    </select>
    
    <select id="checkUserManageTable">
    	SELECT COUNT(*) FROM USER_MANAGE WHERE USER_ID = #{userId}
    </select>
    
</mapper>