.right-button{
   float: right;
   width: 100px;
}

.top-text{
     font-size: 40px;
     text-align: center;
     color: #ff85a2;
     text-decoration: none; 
     font-weight: bold;
    }

.selectedBtn{
	background-color: #ff85a2 !important;
    border-color: #ff85a2;
}

a {
    color: inherit; /* 원래 색을 상속 */
    text-decoration: none; /* 밑줄 제거 (선택적) */
}

.mobile-font{
		align-items: center; /* 수직 중앙 정렬 */
		margin-bottom : 20px;
	}

.mobile-font2{
		align-items: center; /* 수직 중앙 정렬 */
		margin-bottom : 0px;
	}

@media(max-width: 768px){
	
	.mobile-font{
		font-size: 14px;
		align-items: center; /* 수직 중앙 정렬 */
		margin-bottom : 20px;
	}
	
	.right-button{
	   float: right;
	   width: auto;
	   height: auto;
	   font-size: 12px !important;
	   align-items: center !important; /* 수직 중앙 정렬 */
	}
	
	.mobile-font2{
		font-size: 13px;
		align-items: center; /* 수직 중앙 정렬 */
		margin-bottom : 0px;
	}
	
	.modal-dialog {
      max-width: 100%;
      margin: 0;
    }
    .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .modal-title{
    	font-size: 14px !important;
    	font-weight: bold;
    }
    .btn-secondary{
    	font-size: 14px !important;
    }
    .text-center{
    	font-size: 13px !important;
    }
    .text-head{
    	font-size: 13px !important;
    	margin-bottom: 10px;
    }
    .second-text{
    	font-size: 17px !important;
    	margin-bottom: 10px;
    }
	
}