.right-button{
   float: right;
   width: 100px
}

.top-text{
     font-size: 40px;
     text-align: center;
     color: #ff85a2;
     text-decoration: none; /* ������ �����Ͽ� ��ũ�� Ŭ�� �������� �����ݴϴ�. */
     font-weight: bold;
    }

.selectedBtn{
	background-color: #ff85a2 !important;
    border-color: #ff85a2;
}

a {
    color: inherit; /* 원래 색을 상속 */
    text-decoration: none; /* 밑줄 제거 (선택적) */
}