.full-screen-wrapper {
        display: flex;
        justify-content: center; /* Horizontally centers the child */
        align-items: center; /* Vertically centers the child */
        height: 100vh; /* Full viewport height */
    }

    .button-container {
        display: flex;
         margin-top: -120px;
        flex-direction: column; /* Stacks buttons vertically */
        align-items: center; /* Centers buttons horizontally */
        gap: 25px; /* Space between buttons */
        width: 80%; 
    	max-width: 1500px;
    	justify-content: flex-end; 
    }

    .button-container button.btn-main {
        width: 80%;
        padding: 17px 0;
        font-size: 22px;
        background-color: #ff85a2 !important;
        border-color: #ff85a2;
        color: white;
    }

    .button-container button.btn-main:hover {
        background-color: pink !important;
        border-color: pink;
    }
    
    .top-text{
     font-size: 40px;
     text-align: center;
     color: #ff85a2;
     text-decoration: none; 
     font-weight: bold;
    }
    
    .top-text a:link, .top-text a:visited {
    color: #ff85a2; 
    text-decoration: none; 
	}
	
    .modal-dialog {
       display: flex;
       align-items: center;
       justify-content: center;
       height: 100vh;
    }
    
    .modal-content {
        margin-top: auto;
        margin-bottom: auto;
    }
    
	.text-right a.text-head {
	    margin-top: 0px;
	    margin-right : 20px;
	    background-color: white; 
	    border-color: white; 
	    color: #ff85a2;
	    text-decoration: none;
	    font-weight: bold;
	}
	
	.text-center{
		text-align: center;
	}
	
	
	.emoji-icon {
      height: 1.3em; /* 텍스트 크기와 동일하게 설정 */
      margin-right: 0.2em; /* 텍스트와 아이콘 사이 간격 설정 */
    }
    
    p{
    	align-items: center; /* 수직 중앙 정렬 */
    }
    
    @media (max-width: 768px) {
    .modal-dialog {
      max-width: 100%;
      margin: 0;
    }
    .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  